header{
  background-color: #282828;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 200px;
padding-right: 200px;
}
header > div{
  display: flex;
  justify-content: space-between;
}
header nav{
  display: flex;
  align-items: center;
}
header nav a{
  margin: 10px;
  font-size: 12px;
  color: white;
  font-family: "Montserrat";
  text-decoration: none;
}
header nav .lastlink{
  color: #f9c83b;
}
.active{
  background-color: #107698;
  padding: 8px;
  border-radius: 3px;
}
#logo{
  position: absolute;
  width: 201px;
  height: 51px;
  left: 286px;
  top: 39px;

}
#cover{
  text-align: center;
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  padding: 60px 0;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
h1{
  color: white;
  font-family: "Montserrat light";
  font-size: 40px;
}
#info{
  text-align: center;
  background-color: white;
  padding: 60px 0;

}
h2{
  color: #107698;
  font-family: "Montserrat light";
  font-size: 30px;
}
#info p{
  color: #a8969e;
  font-family:"Montserrat light";
  font-size: 15px;
  width: 1000px;
  margin: auto;
  line-height: normal;
}
span{
  color: orange;
}
.info2{
  text-align: center;
  background-color: #edeff3;
  padding: 60px 0;
  margin: auto;
}
.info2 p.para{
  color: black;
  font-family:"Montserrat light";
  font-size: 15px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}
h3{
  color: #282828;
  font-family: "Montserrat light";
  font-size: 30px;
}
.groups{
  display: flex;
  gap: 15px;
  margin-top: 32px ;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}
.groups article{
  max-width: 260px;
  background-color: white;
  box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 30%);

}
.groups article h4{
  background-color: #107698;
  color: white;
  padding: 0 16px;
  min-height: 110px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Montserrat Light";
  border-bottom: solid #EDEFF3 8px;
}
.groups article p{
  text-align: left;
  font-size: 14px;
  color: #A8969E;
  font-family: "Montserrat Light";
  line-height: normal;
  padding: 25px;
  line-height: normal;

}
span{
  color: orange;
}

.info3{
  text-align: center;
  background-color: white;
  padding: 60px 0;
  margin: auto;
}
.info3 p{
  color: #a8969e;
  font-family:"Montserrat light";
  font-size: 15px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}
h5{
  color: #107698;
  font-family: "Montserrat light";
  font-size: 30px;
}
.group2{
  display: flex;
  gap: 15px;
  margin-top: 32px ;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}
.group2 article{
  max-width: 350px;
  background-color: white;
}
.group2 article h6{
  color: #107698;
  padding: 0 1px;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Montserrat";
  border-bottom: solid orange 2px;
  max-width: 300px;
  margin:auto;
}
.group2 article p{
  text-align: center;
  font-size: 13px;
  color: #A8969E;
  font-family: "Montserrat Light";
  line-height: normal;
  padding: 25px;
  line-height: normal;

}
.group3{
  display: flex;
  gap: 15px;
  margin-top: 32px ;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}
.group3 article{
  max-width: 350px;
  background-color: white;
}
.group3 article h7{
  color: #107698;
  padding: 0 1px;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Montserrat";
  border-bottom: solid orange 2px;
  max-width: 300px;
  margin:auto;
}
.group3 article p{
  text-align: center;
  font-size: 13px;
  color: #A8969E;
  font-family: "Montserrat Light";
  line-height: normal;
  padding: 25px;
  line-height: normal;
}
/* new section */
.info4{
  text-align: center;
  background-color: #edeff3;
  padding: 60px 0;
  margin: auto;
}
.info4 p.para2{
  color: black;
  font-family:"Montserrat light";
  font-size: 15px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}
h8{
  color: #282828;
  font-family: "Montserrat light";
  font-size: 30px;
}
.table{
  display: flex;
  gap: 30px;
  margin-top: 32px ;
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
}
.table article{
  max-width: 360px;
  background-color: white;
  box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 30%);

}
.table article h9{
  background-color: #107698;
  color: white;
  padding: 0 16px;
  min-height: 110px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Montserrat Light";
  border-bottom: solid #EDEFF3 8px;
}
.table article p{
  text-align: left;
  font-size: 14px;
  color: #A8969E;
  font-family: "Montserrat Light";
  line-height: normal;
  padding: 25px;
  line-height: normal;

}
.info5{
  text-align: center;
  background-color: #edeff3;
  padding: 60px 0;
  margin: auto;
}
footer{
  background-color: #282828;
  padding: 30px;
  text-align: center;
  font-family:"Montserrat";
  font-size: 14px;
  color: #A8969E;
  line-height: normal;
}
